body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

div.fixed {
  position: fixed;
  top: 5;
  right: 0;
  width: 300px;
  font-weight: 300;
}

.for_link {
                textAlign: center; margin-top:10;
                 color: #435F82; margin-right: 3%;
                 font-weight: bold;
                 float:right;
                 display:inline;
                 line-height:1.5;
                 font-family:'Apple Color Emoji';
                letter-spacing:1;
                       font-size:1.1em;
             margin-left:3%;
             }

p {
 color:red;  
 } 

/*.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-areas:
  "h h h"
  "l s s"
  "l r r";
}*/

.bash {
  height: 50px;
  width: 100%;
/*grid-column: 1/-1;*/
  background-color: aqua;
}

.menu2 {
  margin-left:30%;
}

.error {
    background: #E9EAEC;
    color: red;
    font-weight: 'bold';
    width: 300px;
	
}

.success {
    background: #E9EAEC;
    color: green;
    font-weight: 'bold';
    width: 300px;
	
}

.left-pane {
  position: absolute;
  top:70px;
  left:5px;
  width:200px;
  height: 500px;
  /*grid-area:l;
  background-color:burlywood;*/
}

.selection-pane {
  position:absolute;
  top:70px;
  left:200px;
  width:600px;
  height:300px;
/*grid-area:s;*/
  background-color:lightgray;
}
.selection-pane2 {
  position:absolute;
  top:140px;
  left:200px;
  width:600px;
  height:300px;
  /*grid-area:s;
  background-color:red;*/
  background-color:lightgray;
}

.list-pane {
  position:fixed;
  top:75px;
  left:820px;
  /*grid-area:s;
  background-color:orange;*/
}


.result-pane {
  position:absolute;
  top:500px;
  left:200px;
  width:1200px;
  height: 300px;
/*grid-area:r;
  background-color:rebeccapurple;*/
}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #E9EAEC;
}

.site-header .navbar-nav .nav-link {
  color: #5f788a;
}

.site-header .navbar-nav .nav-link:hover {
  color: #5f788a;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 2px;
}

.part1 {
  height: 80%;
  width: 50%;
  background-color: blue;
}

.part2 {
  height: 20%;
  width: 50%;
  background-color: red;
}


.menu {
  position: absolute;
  top: 0px;
  right: 20px;
}